<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ .Site.BaseURL }}"><img alt="SABSR3 Homepage" src="{{ .Site.BaseURL }}images/logo-white2.png" /></a>
    </div>
    <div class="logo">
      <a href="https://www.ox.ac.uk/"><img alt="University of Oxford" src="{{ .Site.BaseURL }}images/ox_brand_special_pos.svg" /></a>
    </div>
    <div class="logo">
      <a href="https://epsrc.ukri.org/"><img alt="EPSRC" src="{{ .Site.BaseURL }}images/logo-epsrc.png" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ .Site.BaseURL }}"><img alt="SABSR3 Homepage" src="{{ .Site.BaseURL }}images/logo-white2.png" /></a>
    </div>
    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>
